<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <connectionStrings>
    <add name="LocationServiceConnectionString" connectionString="Data Source=localhost;Initial Catalog=LocationService;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LocationServiceConnectionString1" connectionString="Data Source=TYLER-PC;Initial Catalog=LocationService;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>

	 
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="2147483647"
        executionTimeout="300" />
        <identity impersonate="true" />
        <authentication mode="Forms" />
	  <pages enableViewState="false" />
  </system.web>
  <system.serviceModel>
	  <protocolMapping>

		  <add scheme="http" binding="webHttpBinding" />
	  </protocolMapping>
	  <services>
    <service behaviorConfiguration="ServiceBehaviour" name="WebService.FriendService">
     <endpoint behaviorConfiguration="restfulBehavior" binding="webHttpBinding"
      contract="WebService.IFriendService">
      <identity>
       <dns value="localhost" />
      </identity>
     </endpoint>
    </service>
    <service behaviorConfiguration="ServiceBehaviour" name="WebService.WebServices.UserAuth">
     <endpoint behaviorConfiguration="restfulBehavior" binding="webHttpBinding"
      contract="WebService.WebServices.IUserAuth">
      <identity>
       <dns value="localhost" />
      </identity>
     </endpoint>
    </service>
    <service behaviorConfiguration="ServiceBehaviour" name="WebService.UserInfoService">
     <endpoint behaviorConfiguration="restfulBehavior" binding="webHttpBinding"
      contract="WebService.IUserInfo">
      <identity>
       <dns value="localhost" />
      </identity>
     </endpoint>
    </service>
   </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="restfulBehavior">
          <webHttp automaticFormatSelectionEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
	  <bindings>

		  <webHttpBinding>
			  <binding maxBufferSize="9655360"
        maxReceivedMessageSize="9655360" transferMode="Streamed">
				  <readerQuotas maxDepth="9655360" maxStringContentLength="9655360"
     maxArrayLength="9655360" maxBytesPerRead="9655360" maxNameTableCharCount="9655360" />
			  </binding>
			  
		  </webHttpBinding>
	  </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	  
	  <standardEndpoints>
		  <webHttpEndpoint>
			  <standardEndpoint maxReceivedMessageSize="2147000000"  automaticFormatSelectionEnabled="false" defaultOutgoingResponseFormat="Json" >
				  <readerQuotas maxDepth="2147483647"
        maxStringContentLength="2147483647"
        maxArrayLength="2147483647"
        maxBytesPerRead="2147483647"
        maxNameTableCharCount="2147483647" />
				  
			  </standardEndpoint>
			  
		  </webHttpEndpoint>
		  
	  </standardEndpoints>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

</configuration>
